.footer
  .footer-contents
  
    = link_to 'topに戻る', '#', class: 'footer-contents__box' 
      
    %p.footer-contents__box
      会社情報

    = link_to '朝礼担当', member_path(@members), class: 'footer-contents__box'
      
      
     
     
     

  