.footer
  .footer-contents
  
    = link_to("topに戻る", "#", {class: "footer-contents__box"}) 
      
    %p.footer-contents__box
      会社情報
    %P.footer-contents__box
      問い合わせ
    %P.footer-contents__box
      朝礼担当
      
     
     
     

  