.main-contents
  .main-content-box
    .main-content-box__font 
      STAFF INTRODUCTION
      %bottom
      = link_to new_member_path, class: "main-content-box__btn" do
        メンバー登録
      %p.main-content-box__add 
        〜 スタッフ紹介 〜